html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: orangered;
}

input[type=range]:focus {
  outline: none;
}

canvas {
  width: 350px;
  height: 350px;
}

/* @font-face kit by Fonts2u (https://fonts2u.com) */

@font-face {
  font-family: "Trigger";
  src: url("trigger.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}