html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @font-face kit by Fonts2u (https://fonts2u.com) */

@font-face {
  font-family: "Trigger";
  src: url("trigger.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}